@font-face {
    font-family: "Montserrat Alternate";
    src: url("../fonts/MontserratAlternates-Regular.woff") format("woff");
        font-style: normal;
}

@font-face {
    font-family: "Montserrat Alternate Bold";
    src: url("../fonts/MontserratAlternates-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat Alternate Extra-Bold";
    src: url("../fonts/MontserratAlternates-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat Alternate Black";
    src: url("../fonts/MontserratAlternates-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}